<nav class="navbar navbar-light navbar-expand-md navbar-bottom-border">
  <div class="container">
    <a class="navbar-brand">
      <img src="./assets/images/logo.png" alt="">
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav fw-bold">
        <li class="nav-item">
          <a class="nav-link">
            HOME
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            CANDIDATES
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            JOBS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            COMPANIES
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            REPORTS
          </a>
        </li>
      </ul>
      <form class="ms-auto">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search text here" aria-label="Search input">
          <button type="submit" class="btn border-0"> <i class="bi bi-search h5 text-warning"></i></button>
        </div>
      </form>
    </div>
  </div>
</nav>

